<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Clássica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card color="dark">
    <ion-item color="dark" class="ion-text-right">
      <ion-label>{{calculo}}</ion-label>
    </ion-item>

    <ion-item color="dark">
      <span class="resultado">=</span>
      <ion-label class="ion-text-right resultado">{{resultado}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="apagarTudo('C')" expand="block">C </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="apagarUltimo()"expand="block">DEL </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarPonto()"expand="block">. </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarOperacao('/')" expand="block">/ </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="adicionarNumero('7')" expand="block">7 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarNumero('8')" expand="block">8 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarNumero('9')" expand="block">9 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarOperacao('*')" expand="block"> *</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="adicionarNumero('4')" expand="block">4 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarNumero('5')" expand="block">5 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button  (click)="adicionarNumero('6')" expand="block">6 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarOperacao('-')" expand="block">- </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="adicionarNumero('1')" expand="block">1 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button  (click)="adicionarNumero('2')" expand="block">2 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button  (click)="adicionarNumero('3')" expand="block">3 </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="adicionarOperacao('+')" expand="block"> +</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block">? </ion-button>
        </ion-col>

        <ion-col>
          <ion-button  (click)="adicionarNumero('0')" expand="block">0 </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button (click)="calcularResultado()" expand="block"> =</ion-button>
        </ion-col>

      
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
