<ion-header [translucent]="true">
  <ion-toolbar color ="danger">
    <ion-title>
      Básica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-item>
    <ion-label>1º número</ion-label>
    <ion-input type="number" [(ngModel)]="primeiroValor"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label >2º número</ion-label>
    <ion-input type="number" [(ngModel)]="segundoValor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Resultado</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{resultado}}</ion-label>
  </ion-item>
 
  <ion-button  color="danger" expand="block" (click)="limpar()">LIMPAR</ion-button>
 
  
  <br>
  
  <ion-button  color="dark" expand="block" (click)="somar()">SOMAR (+)</ion-button>

  <br>

  <ion-button  color="dark" expand="block" (click)="subtrair()">SUBTRAÇÃO(-)</ion-button>

  <br>

  <ion-button  color="dark" expand="block" (click)="dividir()">DIVISÃO (÷)</ion-button>

  <br>

  <ion-button  color="dark" expand="block" (click)=" multiplicar()">MULTIPLICAÇÃO (*)</ion-button>



  
  </ion-content>